* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-lato {
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: normal;
}
body {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
section {
  max-width: 1280px;
  margin: 0 auto;
}
.full-width {
  width: 100%;
  background-color: #fdeef1;
}
.hero {
  background-image: url("Assets/background.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
}
.hero-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 100px 0;
  gap: 32px;
  justify-content: center;
}
.hero-content h1 {
  font-size: 50px;
  font-weight: 900;
}
.hero-content p {
  font-size: 15px;
  color: #7c7778;
}
.hero .image-container {
  width: 50%;
}
img {
  width: 100%;
}

.image-category-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.image-category {
  display: flex;
  flex-direction: column;
}

.image-category-container .image-container {
  flex-grow: 1;
  padding: 40px 70px 0 70px;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  display: flex;
  align-items: end;
  margin-bottom: 32px;
}

.image-category-container a {
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.services {
  margin: 128px auto;


}

.service-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  
}
.service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color:#F4F4F4;
  padding: 54px 46px;
}
.icon {
  height: 60px;
  width: 60px;
}
.offer {
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
.offer-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.offer-content h1 {
  font-size: 40px;
  font-weight: bold;
}
.offer-content p {
  font-size: 24px;
  color: #7d7d7d;
  text-align: center;
  font-size: medium;
  padding: 24px;
}
.offer img {
  width: 50%;
}
.gallery-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
footer {
  padding: 120px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  background-color: #111010;
  color: white;
}
footer .footer-description {
  color: #7d7d7d;
  font-size: medium;
}
footer p {
  font-size: small;
  color: #7c7778;
}

.deals {
  background-image: url("Assets/dealsbg.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 120px auto;
  padding: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.deals h1 {
  font-size: 40px;
  font-weight: bolder;
  z-index: 1;
}
.deals p {
  padding: 20px;
  font-size: small;
  color: #7c7778;
  z-index: 1;
}

.deals-input {
  width: 60%;
  display: flex;
  gap: 20px;
  align-items: center;
  z-index: 1;
}
.deals-input input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  font-weight: bold;
  border-radius: 5px;
}

/* shared item */

.btn {
  padding: 10px 25px;
  font-weight: bold;
  background-color: #e55473;
  border: none;
  color: white;
  border-radius: 5px;
  border: 2px solid #e55473;
  cursor: pointer;
}
.btn:hover{
background-color: transparent;
transition: .3s linear;
color: #e55473;
}
.section-title {
  padding-top: 170px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.section-description {
  width: 40%;
  text-align: center;
  margin: 0 auto;
  padding: 12px;
  color: #7d7d7d;
  padding-bottom: 48px;
}
span {
  color: #e55473;
}
.light-pink{
  background-color: #F3DEE7;
}
.light-cyan{
  background-color: #D8EFF1;
}
.light-green{
  background-color: #E2EBDC;
}


@media screen and (max-width: 576px) {
  section {
    width: 90%;
  }
  .hero-content {
    width: 100%;
    margin: 0 auto;
    background-color: #fdeef1;
  }
  .section-title {
    padding-top: 120px;
    font-size: 30px;
  }
  .section-description {
    width: 90%;
    font-size: small;
  }
  .image-category-container {
    grid-template-columns: none;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 80px;
  }

  .image-category-container a {
    font-size: 15px;
  }
  .service-container {
    grid-template-columns: none;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 80px;
  }
  .offer {
    flex-direction: column;
    padding: 100px 0;
    align-items: center;
    justify-content: center;
  }
  .offer-content {
    width: 100%;
    align-items: start;
  }
  .offer-content h1 {
    font-size: 35px;
  }
  .offer-content p {
    padding: 24px 0;
    text-align: left;
    font-size: small;
  }
  .offer-image {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .gallery-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .deals {
    padding: 80px 10px;
    color: white;
    text-align: left;
    justify-content: start;
    align-items: start;
  }
  .deals p {
    color: white;
    padding: 20px 0;
  }
  .deals::after {
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.356);
    position: absolute;
    top: 0;
    left: 0;
  }

  .deals-input {
    flex-direction: column;
    width: 100%;
    font-size: x-small;
    align-items: normal;
  }
  .subscribe-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  footer {
    padding: 80px 20px;
  }
}
@media screen and (min-width: 576px) and (max-width: 992px) {
  section {
    width: 80%;
  }
  .hero-content {
    width: 100%;
    margin: 0 auto;
    background-color: #fdeef1;
  }

  .section-title {
    padding-top: 120px;
    font-size: 40px;
  }
  .section-description {
    width: 90%;
    font-size: medium;
  }

  .image-category-container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 80px;
  }

  .image-category-container a {
    font-size: 15px;
  }
  .service-container {
    grid-template-columns: repeat(2, 1fr);
 
  }
  .offer {
    padding: 100px 0;
  }
  .offer-content {
    width: 100%;
    align-items: start;
  }
  .offer-content h1 {
    font-size: 35px;
  }
  .offer-content p {
    padding: 24px 0;
    text-align: left;
    font-size: small;
  }
  .offer-image {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .gallery-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .deals {
    padding: 80px 10px;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .deals p {
    color: white;
    padding: 20px 0;
  }
  .deals::after {
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.356);
    position: absolute;
    top: 0;
    left: 0;
  }

  .deals-input {
    flex-direction: column;
    width: 80%;
    font-size: x-small;
    align-items: normal;
  }
  .subscribe-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  footer {
    padding: 120px 40px;
  }
}
@media screen and (min-width: 992px) {
  section {
    width: 90%;
  }
}